.line{
  width:auto;
  height: 47px;
  border-bottom: 1px solid black;
}

.list-group{
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}
